{% extends 'base.html' %}
{% load static %}


{% block title %} {{ post.title }} {% endblock %}


{% block content %}

<div class="mt-5 p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ post.title }}</h1>
      <p class="lead my-3">{{ post.excerpt }}</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
      <p class="lead mb-0">{{ post.author }}</p>
      <p class="lead mb-0">{{ post.date}}</p>
    </div>
  </div>


{% endblock %}